:root {
    --cor-violet-principal: #C71585;
    --cor-violet-media: #f89284;
    --cor-violet-fraca: #ffbebe;

    --cor-marrom-fraco: #ebd5d2;

    --cor-azul-principal: #0271F7;
    --cor-azul-media: #d3ffff;
    --cor-azul-fraca: #8fbff8;

    --cor-roxa-fraca: #c2c2f1;

    --cor-titulo-fraco: #5dcbf7;
    --cor-titulo-forte: #C71585;

    --cor-padrao: #ffffff;
    --cor-secundaria: #000000;
}